footer.Footer 
    .container 
        .Footer__left 
            a(href='#').footer__logo Your Logo 
            p.footer__head We earned a reputation of being good at what we do.<br> Let us take your online shop to new dimension in<br> success!
            .footer__adress 
                .llocation 
                    img(src="../../image/location.svg", alt="Location").adress__image
                    span.adress__detail Comilla, Bangladesh 3500
                a(href="mailto:kawsarahmed0210@gmail.com").adress__mail kawsarahmed0210@gmail.com
                a(href='tel:01647470457').adress__phone 01647470457
        .Footer__right
            a(href='#').right__main RECIVE EMAIL UPDATES
            .right__form 
                input(type='form' placeholder='Your Email Address').form__input
                a(href='#').form__btn Join
            nav.right__nav 
                .nav__one
                    p.nav__title SHOP
                    ul 
                        li 
                            a(href='#') Shop
                        li 
                            a(href='#') Shop
                        li 
                            a(href='#') Shop
                        li 
                            a(href='#') Shop
                .nav__two 
                    p.nav__title SHOP
                    ul 
                        li 
                            a(href='#') Shop
                        li 
                            a(href='#') Shop
                        li 
                            a(href='#') Shop
                        li 
                            a(href='#') Shop
                .nav__three
                    p.nav__title SHOP
                    ul 
                        li 
                            a(href='#') Shop
                        li 
                            a(href='#') Shop
                        li 
                            a(href='#') Shop
                        li 
                            a(href='#') Shop