header.Header 
    .container 
        a(href='#').Header__logo Your Logo
        .Header__navigation 
            nav.Header__nav 
                ul.Header__nav-list 
                    li.Header__nav-list-item 
                        a(href='#') Home
                    li.Header__nav-list-item 
                        a(href='#') Shop
                    li.Header__nav-list-item 
                        a(href='#') LookBook
                    li.Header__nav-list-item 
                        a(href='#') Feautures
                    li.Header__nav-list-item 
                        a(href='#') Pages
                    li.Header__nav-list-item 
                        a(href='#') Blog
            .Header__buttons 
                a(href='#')
                    svg.icon.icon-cart 
                        use(xlink:href='#icon-search')
                a(href='#')
                    svg.icon.icon-cart 
                        use(xlink:href='#icon_heart')
                a(href='#')
                    svg.icon.icon-cart 
                        use(xlink:href='#icon-cart')
        button.Header__button(type='button')
                svg.icon.icon-cart
                    use(xlink:href='#icon-menu')