@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
$max-width:1140px;
$gutter:20px;
$finger-size:44px;
//
$color-background:#E5E5E5;
$color-text:#22262A;
$color-red:#CF2929;
//
$font-family:'Poppins',sans-serif;
$font-title-size:20px;
$font-text-size:15px;
$font-text-medium:18px;
$font-logo:28px;
