section.Avones 
    p.title AVONE STYLES
    p.text.mb Choose Your Favorite Color
    .container 
        .Avones__left 
             figure
                img(src="../../image/a1.png", alt="Avones")   
        .Avones__right 
             img(src="../../image/a2.png", alt="Avones").Avones__image-one
             img(src="../../image/a3.png", alt="Avones" ).Avones__image
             a(href='#').Avones__btn SHOW WOMEN’S DRESS