section.Category
    .container 
        .Category__left 
            .left__one 
               img(src='../../image/1.png')
            .left__two 
                .two__one 
                    img(src='../../image/2.png')
                .two__two
                    img(src='../../image/3.png')
        .Category__right
            .opa
            img(src='../../image/4.png')
            a(href='#').btn CATAGORY NAME