section.Men 
    p.title Men  FASHION
    p.text Shop our new arrivals from established brands
    .container 
        .Women__slider 
            .slide
                img(src='../../image/m1.png')
                .slide__content 
                    p.slide__text IGURE
                    p.slide__title GREEN MUSCLE FIT POLO SHIRT
                    span.money $229.00 
                    span.redmoney  $129.00
            .slide 
                img(src='../../image/m2.png')
                .slide__content 
                    p.slide__text IGURE
                    p.slide__title GREEN MUSCLE FIT POLO SHIRT
                    span.money $229.00 
                    span.redmoney  $129.00
            .slide 
                img(src='../../image/m3.png')
                .slide__content 
                    p.slide__text IGURE
                    p.slide__title GREEN MUSCLE FIT POLO SHIRT
                    span.money $229.00 
                    span.redmoney  $129.00
            .slide 
                img(src='../../image/m4.png')
                .slide__content 
                    p.slide__text IGURE
                    p.slide__title GREEN MUSCLE FIT POLO SHIRT
                    span.money $229.00 
                    span.redmoney  $129.00 
            .slide 
                img(src='../../image/m1.png')
                .slide__content 
                    p.slide__text IGURE
                    p.slide__title GREEN MUSCLE FIT POLO SHIRT
                    span.money $229.00 
                    span.redmoney  $129.00
            .slide 
                img(src='../../image/m2.png')
                .slide__content 
                    p.slide__text IGURE
                    p.slide__title GREEN MUSCLE FIT POLO SHIRT
                    span.money $229.00 
                    span.redmoney  $129.00
            .slide 
                img(src='../../image/m3.png')
                .slide__content 
                    p.slide__text IGURE
                    p.slide__title GREEN MUSCLE FIT POLO SHIRT
                    span.money $229.00 
                    span.redmoney  $129.00
            .slide 
                img(src='../../image/m4.png')
                .slide__content 
                    p.slide__text IGURE
                    p.slide__title GREEN MUSCLE FIT POLO SHIRT
                    span.money $229.00 
                    span.redmoney  $129.00