section.Showcase 
    .container 
        .Showcase__content 
            p.content__title NEW TREND
            p.content__main COLLUSION
            p.content__text An exclusive selection of this season's trends.
            .content__btn 
                a(href='#').btn Discover
                a(href='#').btn.ml Shop Now