section.Women 
    p.title WOMEN’S FASHION
    p.text Shop our new arrivals from established brands
    .container 
        .Women__slider 
            .slide
                img(src='../../image/w1.png')
                .slide__content 
                    p.slide__text IGURE
                    p.slide__title GREEN MUSCLE FIT POLO SHIRT
                    span.money $229.00 
                    span.redmoney  $129.00
            .slide 
                img(src='../../image/w2.png')
                .slide__content 
                    p.slide__text IGURE
                    p.slide__title GREEN MUSCLE FIT POLO SHIRT
                    span.money $229.00 
                    span.redmoney  $129.00
            .slide 
                img(src='../../image/w3.png')
                .slide__content 
                    p.slide__text IGURE
                    p.slide__title GREEN MUSCLE FIT POLO SHIRT
                    span.money $229.00 
                    span.redmoney  $129.00
            .slide 
                img(src='../../image/w4.png')
                .slide__content 
                    p.slide__text IGURE
                    p.slide__title GREEN MUSCLE FIT POLO SHIRT
                    span.money $229.00 
                    span.redmoney  $129.00 
            .slide 
                img(src='../../image/w1.png')
                .slide__content 
                    p.slide__text IGURE
                    p.slide__title GREEN MUSCLE FIT POLO SHIRT
                    span.money $229.00 
                    span.redmoney  $129.00
            .slide 
                img(src='../../image/w2.png')
                .slide__content 
                    p.slide__text IGURE
                    p.slide__title GREEN MUSCLE FIT POLO SHIRT
                    span.money $229.00 
                    span.redmoney  $129.00
            .slide 
                img(src='../../image/w3.png')
                .slide__content 
                    p.slide__text IGURE
                    p.slide__title GREEN MUSCLE FIT POLO SHIRT
                    span.money $229.00 
                    span.redmoney  $129.00
            .slide 
                img(src='../../image/w4.png')
                .slide__content 
                    p.slide__text IGURE
                    p.slide__title GREEN MUSCLE FIT POLO SHIRT
                    span.money $229.00 
                    span.redmoney  $129.00