body{
    font-family: $font-family;
    line-height: 1.4;
    background-color: $color-background;
}
.container{
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $gutter;
    padding-right: $gutter;
}
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
.btn{
    background-color: $color-text;
    color: #fff;
    font-size: $font-text-medium;
    padding: 4px 24px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
.ml{
    margin-left: 34px;
}
.title{
    font-weight: 700;
    color: $color-text;
    font-size: $font-title-size;
    text-align: center;
    text-transform: uppercase;
}
.text{
    font-weight: 400;
    color: $color-text;
    font-size: $font-text-size;
    text-align: center;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 65px;
}

