.Showcase{
    background: url(../../image/background.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        @include mq('tablet'){
            align-items: flex-end;
            justify-content: flex-end;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        @include mq('tablet'){
            margin-bottom: 101px;
        }
        .content__title{
            font-size: $font-text-medium;
            color: $color-text;
            font-weight: 500;
        }
        .content__main{
            color: $color-text;
            font-weight: 700;
            font-size: 50px;
            @include mq('tablet'){
                font-size: 80px;
            }
        }
        .content__text{
            font-size: $font-text-medium;
            color: $color-text;
            font-weight: 500;
            margin-bottom: 20px;
        }
        .content__btn{
            display: flex;
            align-items: center;
           
        }
    }
}
.Category{
    padding-top: 121px;
    padding-bottom: 111px;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        @include mq('tablet'){
            flex-direction: row;
        }
    }
    &__left{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @include mq('tablet'){
            align-items: stretch;
            
        }
        .left__one{
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        .left__two{
            display: flex;
            justify-content: space-between;
            margin-top: 22px;
            @include mq('tablet'){
                justify-content: space-between;
               
            }
        }
    }
    &__right{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin-top: 10px;
        @include mq('tablet'){
            margin-top: 0;
        }
        a{
            position: absolute;
            left: 10px;
            bottom:10px;
            background-color: #fff;
            color: #000;
        }
        .opa{
            position: absolute;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: .5;
         
        }
    }
}
.Women{
    padding-bottom: 100px;
    .slide{
        cursor: pointer;
        &__content{
            margin-top: 31px;
           .slide__text{
               color: $color-text;
               font-size: $font-text-size;
               font-weight: 300;
           }
           .slide__title{
               font-weight: 600;
               color: $color-text;
               font-size: $font-text-size;
               margin-top: 3px;
               margin-bottom: 3px;
           }
           .money{
            color: $color-text;
            font-size: $font-text-size;
            text-decoration: line-through;
            margin-right: 15px;
           }
           .redmoney{
            font-size: $font-text-size;
            color: #CF2929;
           }
        }
    }
}
.Men{
    padding-bottom: 100px;
    .slide{
        cursor: pointer;
        &__content{
            margin-top: 31px;
           .slide__text{
               color: $color-text;
               font-size: $font-text-size;
               font-weight: 300;
           }
           .slide__title{
               font-weight: 600;
               color: $color-text;
               font-size: $font-text-size;
               margin-top: 3px;
               margin-bottom: 3px;
           }
           .money{
            color: $color-text;
            font-size: $font-text-size;
            text-decoration: line-through;
            margin-right: 15px;
           }
           .redmoney{
            font-size: $font-text-size;
            color: #CF2929;
           }
        }
    }
}